# ignore output folders
bin/
build/
cake/
obj/
ipch/
release/
tools/

# ignore user-specific options/cache files
.vs/
Thumbs.db
*.cache
*.log
*.user
*.opensdf
*.sdf
*.suo
*.user
*.userprefs
*.ncrunchproject
*.ncrunchsolution
nCrunchTemp*
